
QWidget#SearchTree {
	border-style: solid;
}

QToolButton#SearchTreeIcon {
	border: none;
	padding: 0px;
}

QLineEdit#SearchTreeBar {
    background-color: rgb(58, 58, 58);
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-family: monospace;
    border-style: solid;
    border-radius: 4px;
    border-color: rgb(83, 83, 83);
    border-width: 1px;
    height: 20px;
}

QLineEdit#SearchTreeBar::focus {
	border-color: rgb(60, 110, 255);
	border-width: 2px;
}

QToolButton#SearchTreeNext {
	border: none;
}

QToolButton#SearchTreePrevious {
	border: none;
}

QLabel#SearchTreeMatches {
	color: rgb(200, 200, 200);
    font-size: 11px;
    font-family: monospace;
}

QToolButton#SearchTreeClose {
	width: 10px;
	height: 10px;
	border: none;
}

QToolButton#SearchTreeClose:hover {
	background-color: rgb(63, 63, 63);
}
