
QTextEdit#editor {
	background-color: rgb(43, 43, 43);
	color: rgb(170, 170, 170);
	font-family: Monospace;
	font-style: normal;
	font-size: 12px;
	border-style: solid;
	border-left-width: 1px;
	border-color: rgb(73, 73, 73);
}
