
QToolTip {
	background-color: rgb(53, 53, 53);
	color: rgb(170, 170, 170);
	font-family: monospace;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(73, 73, 73);
}

QWidget#errorWindow {
	background-color: rgb(53, 53, 53);
	border-style: solid;
	border-color: rgb(83, 83, 83);
	border-width: 1px;
}

QWidget#InputProfileWindow {
	background-color: rgb(53, 53, 53);
	border-style: solid;
	border-color: rgb(83, 83, 83);
	border-width: 1px;
}

QLabel#profileTitleLabel {
	background-color: rgb(73, 73, 73);
	color: rgb(170, 170, 170);
	font-family: monospace;
	font-size: 13px;
	height: 10px;
	border-style: solid;
	border-color: rgb(43, 43, 43);
	border-bottom-width: 1px;
}

QRadioButton {
    background-color: rgb(50, 50, 50);
    color: rgb(170, 170, 170);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-style: solid;
    border-width: 0px;
    border-radius: 10px;
    outline: none;
    font-size: 13px;
    font-family: monospace;
}

QRadioButton:hover {
    background-color: rgb(40, 40, 40);
}

QRadioButton::checked {
    background-color: rgb(35, 35, 35);
}

QRadioButton::indicator {
    background-color: rgb(23, 23, 23);
    width: 13px;
    height: 13px;
    border-style: solid;
    border-width: 0px;
    border-radius: 6px;
    border-color: rgb(43, 43, 43);
    outline: none;
}

QRadioButton::indicator::checked {
    background-color: rgb(23, 23, 23);
    width: 11px;
    height: 11px;
    border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: rgb(63, 63, 63);
}

QRadioButton::indicator::unchecked {
    background-color: rgb(43, 43, 43);
}

QLabel#DefaultRepoText {
    background-color: rgb(45, 45, 45);
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-family: monospace;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(43, 43, 43);
    border-width: 1px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 5px;
    padding-right: 5px;
    height: 25px;
}

QLineEdit {
    background-color: rgb(43, 43, 43);
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-family: monospace;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(23, 23, 23);
    border-width: 1px;
    height: 25px;
}

QLineEdit:disabled {
    background-color: rgb(50, 50, 50);
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-family: monospace;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(23, 23, 23);
    border-width: 0px;
    height: 25px;
}

QPushButton#BrowsePathButton {
	background-color: rgb(63, 63, 63);
	color: rgb(170, 170, 170);
	font-family: monospace;
	font-size: 12px;
	padding-left: 9px;
	padding-right: 9px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 3px;
	border-style: solid;
	border-color: rgb(73, 73, 73);
	border-width: 1px;
	outline: none;
}

QPushButton#BrowsePathButton:hover {
	background-color: rgb(60, 60, 60);
	color: rgb(170, 170, 170);
	font-family: monospace;
	font-size: 12px;
	border-radius: 3px;
	padding-top: 9px;
	padding-bottom: 9px;
	outline: none;
}

QPushButton#BrowsePathButton:disabled {
	background-color: rgb(50, 50, 50);
	color: rgb(170, 170, 170);
	font-family: monospace;
	font-size: 12px;
	border-radius: 3px;
	padding-top: 9px;
	padding-bottom: 9px;
	outline: none;
}

QCheckBox#RememberPath {
    background-color: rgb(48, 48, 48);
    color: rgb(170, 170, 170);
    font-size: 12px;
    font-family: monospace;
    border-style: solid;
    border-radius: 7px;
    border-color: rgb(43, 43, 43);
    border-width: 1px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    outline: None;
}

QCheckBox#RememberPath:disabled {
    background-color: rgb(53, 53, 53);
}

QCheckBox#RememberPath:hover {
    background-color: rgb(43, 43, 43);
}

QCheckBox#RememberPath:checked {
    background-color: rgb(37, 37, 37);
}

QCheckBox#RememberPath::indicator {
    background-color: rgb(53, 53, 53);
    width: 12px;
    height: 12px;
    border-style: solid;
    border-radius: 7px;
    border-color: rgb(53, 53, 53);
    border-width: 2px;
}

QCheckBox#RememberPath::indicator:checked {
    background-color: rgb(23, 23, 23);
    border-color: rgb(63, 63, 63);
}

QPushButton#profileButton {
	background-color: rgb(63, 63, 63);
	color: rgb(170, 170, 170);
	font-family: monospace;
	font-size: 12px;
	padding-top: 9px;
	padding-bottom: 9px;
	border-radius: 3px;
	border-style: solid;
	border-color: rgb(73, 73, 73);
	border-width: 1px;
	outline: none;
}

QPushButton#profileButton:hover {
	background-color: rgb(60, 60, 60);
	color: rgb(170, 170, 170);
	font-family: monospace;
	font-size: 12px;
	border-radius: 3px;
	padding-top: 9px;
	padding-bottom: 9px;
	outline: none;
}
